<div class="container-xxl py-5">
    <h1 class="text-center mb-4">Commandes par Client</h1>
  @if (commandes.length === 0) {
    <!-- Si aucune commande n'est disponible -->
    <div class="alert alert-info text-center">
      No commandes available.
    </div>
}
@if (commandes.length > 0) {
    <div >
    @for ( userCommandes of commandes; track $index) {
      <div >
        <h3>Client : {{ userCommandes.userName }}</h3>
  
        <!-- Tableau des commandes de l'utilisateur -->
        <table class="table table-hover table-bordered table-striped rounded">
          <thead class="table-dark">
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Menu</th>
              <th>Prix</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commande of commandes">
              <td>{{ commande.date | date}}</td>
              <td>
                <span [ngClass]="getStatusClass(commande.status)" class="status-badge">
                  {{ commande.status }}
                </span>
              </td>
              <td>{{ commande.menuName }}</td>
              <td>{{ commande.menuPrice | currency:'TND' }}</td>
              <select
  class="form-select"
 
  [(ngModel)]="commande.status"
  (change)="confirmStatusChange(commande.id, commande.status )" >
  <option value="PENDING">En attente</option>
  <option value="PROCESSING">En cours</option>
  <option value="COMPLETED">Complétée</option>
  <option value="CANCELLED">Annulée</option>
</select>
            </tr>
            
          </tbody>
          <!-- Afficher le total des commandes de l'utilisateur -->
          <tfoot>
            <tr class="table-primary">
              <td colspan="3" class="text-end"><strong>Total :</strong></td>
             
            </tr>
          </tfoot>
        </table>
      </div>
    }
    </div>
}
  </div>
