<div class="container-xxl py-5">
    <h1 class="text-center mb-4">Commandes par Client</h1>

    <div >
  
      <div >
     
  
        <!-- Tableau des commandes de l'utilisateur -->
        <table class="table table-hover table-bordered table-striped rounded">
          <thead class="table-dark">
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Livreur</th>
              <th>Prix</th>
              <th>Status</th>
              <th>Livreur</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commande of commandes">
              <td>{{ commande.date | date}}</td>
              <td>
                <span [ngClass]="getStatusClass(commande.status)" class="status-badge">
                  {{ commande.status }}
                </span>
              </td>
              <td>{{ commande.livreurName}}</td>
              <td>{{ commande.menuPrice | currency:'TND' }}</td>
              <select class="form-select" [(ngModel)]="commande.status" (change)="confirmStatusChange(commande.id, commande.status )" >
  <option value="PENDING">En attente</option>
  <option value="PROCESSING">En cours</option>
  <option value="COMPLETED">Complétée</option>
  <option value="CANCELLED">Annulée</option>
</select>
<td>
  <select
    class="form-select"
    [(ngModel)]="commande.livreurId"
    (ngModelChange)="onAssignLivreur(commande.id, commande.livreurId)">
    <!-- Option par défaut : affiche le nom du livreur -->
    <option [value]="commande.livreurId" selected>
      {{ commande.livreurName || 'Aucun' }}
    </option>
    <!-- Liste des livreurs disponibles -->
    <option *ngFor="let livreur of livreurs" [value]="livreur.id">
      {{ livreur.username }}
    </option>
  </select>
</td>



            </tr>
            
          </tbody>
          <!-- Afficher le total des commandes de l'utilisateur -->
          <tfoot>
            <tr class="table-primary">
              <td colspan="3" class="text-end"><strong>Total :</strong></td>
             
            </tr>
          </tfoot>
        </table>
      </div>
    
    </div>

