<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="video">
          <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
            <span></span>
          </button>
        </div>
      </div>
      <!-- Reservation Form Section -->
      <div class="col-md-6 bg-dark d-flex align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
          <h5 class="section-title ff-secondary text-start text-primary fw-normal">Update Reservation</h5>
          <h1 class="text-white mb-4">Update Your Table Reservation</h1>
          <form #reservationForm="ngForm" (ngSubmit)="updateReservation(reservationForm)">
            <div class="row g-3">
              <!-- Reservation Date -->
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control datetimepicker-input" id="reservationDate" name="reservationDate" placeholder="Date & Time" [(ngModel)]="reservation.reservationDate" required />
                  <label for="reservationDate">Date & Time</label>
                </div>
              </div>
  
              <!-- Number of Guests -->
              <div class="col-md-12">
                <div class="form-floating">
                  <select class="form-select" id="numberOfGuests" name="numberOfGuests" [(ngModel)]="reservation.numberOfGuests" required>
                    <option [ngValue]="1">1 Person</option>
                    <option [ngValue]="2">2 People</option>
                    <option [ngValue]="3">3 People</option>
                    <option [ngValue]="4">4 People</option>
                    <option [ngValue]="5">5 People</option>
                  </select>
                  <label for="numberOfGuests">No Of People</label>
                </div>
              </div>
  
              <!-- Submit Button -->
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Update Reservation</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  