<div class="container-xxl py-5">
    <h1 class="text-center mb-4">Reserved Tables</h1>
    
    <div *ngIf="reservations.length === 0" class="alert alert-info text-center">
        No reservations available for this user.
    </div>
    
    <table class="table table-striped" *ngIf="reservations.length > 0">
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>No Of People</th>
                <th class="text-center">Actions</th> <!-- Center the actions column -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.reservationDate | date: 'short' }}</td>
                <td>{{ reservation.numberOfGuests }} {{ reservation.numberOfGuests === 1 ? 'Person' : 'People' }}</td>
                <td class="text-center">
                    <!-- <button (click)="updateReservation(reservation.id)" class="btn btn-outline-primary btn-sm me-2">Update</button> -->
                    <button  class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
