<div class="container-xxl py-5">
    <h1 class="text-center mb-4">Commandes</h1>
    <div *ngIf="commandes.length === 0" class="alert alert-info text-center">
      No commandes available for this user.
    </div>
    <div *ngIf="commandes.length > 0">
      <table class="table table-hover table-bordered table-striped rounded">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>User</th>
            <th>Menu</th>
            <th>Price</th>
            <th>Avis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes; let i = index">
            <td>{{ commande.date }}</td>
            <td>{{ commande.status }}</td>
            <td>{{ commande.userName }}</td>
         
    
              <td >
          
    {{ commande.menuName }}
      </td>
              
              
            <td>{{ commande.menuPrice | currency }}</td>
            <td>  <a [routerLink]="['feed']"
            [queryParams]="{
              commandeId: commande.id,
              menuId: commande.menuId
            }">
          📝 Postuler
         </a></td>
          </tr>
        </tbody>
      </table>
      <div class="text-end mt-4">
        <h4>Total : <strong>{{ totalPrice | currency }}</strong></h4>
        <button mat-raised-button color="primary" class="mt-2"
          [routerLink]="['pay']"
          [queryParams]="{ totalPrice: totalPrice }">
          <i class="fa fa-credit-card"></i> Payer
        </button>
      </div>
      
    </div>
  </div>
  