<div class="container-xxl py-5">
  <h1 class="text-center mb-4">Reserved Tables</h1>

  <div *ngIf="reservations.length === 0" class="alert alert-info text-center">
      No reservations available for this user.
  </div>

  <table class="table table-hover table-bordered table-striped rounded" *ngIf="reservations.length > 0">
      <thead class="table-dark">
          <tr>
              <th>Date & Time</th>
              <th>No Of People</th>
              <!-- <th class="text-center">Actions</th> -->
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let reservation of reservations | paginate: { itemsPerPage: 3, currentPage: currentPage }">
              <td>{{ reservation.reservationDate | date: 'short' }}</td>
              <td>{{ reservation.numberOfGuests }} {{ reservation.numberOfGuests === 1 ? 'Person' : 'People' }}</td>
      
          </tr>
      </tbody>
  </table>

  <pagination-controls (pageChange)="currentPage = $event" class="d-flex justify-content-center mt-3"></pagination-controls>
</div>
